body{
    background-color:cornsilk;
    color: black;
    font-family:Arial, sans-serif;
    font-size: medium;
    

}
h3,h3,h3,h3{
    color: blue;
}
p{
    color:black;
    
    
}
#EDUCATION
{
    color: darkblue;
}
#PERSNOL DETAILS
{
    color: blue;
    
}
#head
{
    color:blue;
}

    



    
    
    