body{
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-position: cover;
    background-size:100%;
    font-size: large;
    background:radial-gradient(green,orange)
    
}
p{
    color: aliceblue;
    font-size: larger;
}
H1{
    color: blue;
    
}
H2{
    COLOR:BLUE;
}


