.invite{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border: 1px solid black;
   background-color: greenyellow;
   height:1200px;
   border-radius: 4%;
   background-image: url("https://t4.ftcdn.net/jpg/06/84/78/57/360_F_684785716_giOhFCuxm5KRmHfMNCUgOeZlJ2equBsF.jpg");
   background-repeat: no-repeat;
   background-size: cover;

}
h1{
    text-align: center;
    
        font-family: "Cookie", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 400%;
        word-spacing: 3%;
        padding-top: 5%;
        
      }
      p{
        text-align: center;
        border: 1px solid black;
        margin-left: 30%;
        margin-right: 30%;
        font-size: 150%;
        border-top: 1px solid black;
        border-bottom:1px solid black;
        background-color: burlywood;



      }
      H2{
        text-align: center;
        
            font-family: "Euphoria Script", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 300%;
          }
          
      img{
        margin-left: 40%;
        clip-path: ellipse();
      }
      h3{
        color:RED;
      }
      H4{
        text-align: center;
        text-decoration: dotted;
        font-family: 'Courier New', Courier, monospace;
        font-size: 200%;
        color: brown;
      }

      
      
      
